/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

a{
  text-decoration: none;
}

body {
 background-color: white; 
 scroll-behavior: smooth;
}

/* STYLE TEXT */

h1 , h2{
  color: black;
}

.missionContainer{
  width: 100%;
  padding: 3em 0em;
  padding-bottom: 6em;
  box-shadow: 5px 0px 6px black;
  z-index: 1;
  position: relative;
}

.missionContainer h2{
  font-size: 4.5em;
  font-family: 'Noto', Oswald, Arial, sans-serif;
  text-align: center;
  padding-bottom: 0.5em;
}

.missionContainer div{
  max-width: 60%;
  margin: auto;
}

p{
  font-size: 1.5em;
  font-family: 'Playfair Display', Oswald, Arial, sans-serif;
  text-align: left;
  text-indent: 10px;
}

/* STYLE IMAGES */

.grayscaleImg{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* home images */

.flexContainer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 5em 0em;
  background-color: white;
}

.flexItem{
  max-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 3em 0em;
  border-bottom: 1px black solid;
}

.flexItem img{
  max-width: 50%;
  padding: 1em;
  padding-right: 2.5em;
}

.flexItem p{
  max-width: 50%;
  font-size: 1em;
  color: black;
}


/* STYLE NAV BAR */
nav{
  width: 100%;
  background-color: black;
  padding: 1em 0em;
  position: fixed;
  top: 0;
  z-index: 3;
}
nav ul{
  list-style-type: none;
  text-align: right;
}
nav li{
  display: inline-block;
}

nav a{
  color: white;
  font-size: 1.25em;
  font-family: Oswald, Arial, sans-serif;
  padding: 0em 1em;
}

nav a:hover{
  color: #cfcfcf;
  transition: 0.5s;
}

.navAction{
  color: #f09d37;
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}

#navAction{
  color: #81b8e6;
}

/* heading */
.headingContainer{
  width: 100%;
  display: flex;
  flex-flow: row no-wrap;
  height: 500px;
  border-bottom: black solid 1px;
  justify-content: center;
  background-color: black;
}

#headingText{
  max-width: 40%;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 2.5em;
  padding: 1em 1em;
  justify-content: center;
  align-items: center;
  padding-left: 1.5em;
}

#headingText h1{
  color: white;
  text-shadow: 2px 2px #7a7380;
}

.itemContainer{
  max-width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.headingItems{
  max-width: 30%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headingItems img{
  max-width: 200%;
  display: inline-block;  
}

.aboutHeader, .actionHeader{
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url('assets/prison.jpeg');
  background-size: cover;
  background-position: center;
  
}

.actionHeader{
  background-image: url('assets/action.jpg');
}

.aboutHeader h1, .actionHeader h1{
  color: white;
  max-width: 40%;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 6em;
  text-shadow: 2px 2px #7a7380;
}

.aboutHeader h3, .actionHeader h3{
  color: white;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 2em;
  text-shadow: 2px 2px #7a7380;
}

#aboutSubtext{
  max-width: 50%;
  font-size: 1.75em;
}

.aboutHeader div, .actionHeader div{
  padding-left: 3em;
}

.actionHeader div{
  max-width: 60%;
}

.actionHeader h1{
  max-width: 100%;
}

/* STYLE BUTTONS */

/* section headings */

#statisticsHeading{
  background-image: url('assets/barbedWires.jpg');
}

#factsHeading{
  background-image: url('assets/barbedWires3.jpg');
}
    
.homeHeading{
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items:center;
  justify-content:center;
}

.homeHeading h2{
  color: black;
  text-shadow: 2px 2px white;
  font-size: 4.5em;
  font-family: Oswald, Arial, sans-serif;
  text-align: center;
}

/* fact button */
.factBtnContainer{
  max-width: 100%;
  height: 500px;
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
}

.factBtnContainer div{
  max-width: 20%;
  display: flex;
  height: 100px;
  padding: 6em 5em;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 12%;
  border-radius: 30px;
}

#factBtn{
  height: auto;
  background-color: black;
  color: white;
  border: none;
  font-size: 2em;
  padding: 1em;
  text-align: center;
  border-radius: 20px;
}

.factBtnContainer p{
  margin: 1em 0em;
  font-family: Oswald;
 text-align: center;
}

#factContainer{
  width: 45%;
  background-color: black;
  color: white;
  margin-right: 12%;
}

#factBtn:hover{
  color: white;
  transition: 0.3s;
  background-color: #8a8a8a;
  box-shadow: 2px 2px 1px black;
  cursor: pointer;
}

footer{
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 0em;
}

#topBtn{
  font-size: 50px;
  color: white;
  background-color: black;
  border: none;
}

#topBtn:hover{
  color: #cfcfcf;
  transition: 0.5s;
  cursor: pointer;
}

/* about sections */

section{
  width: 100%;
}

.aboutSection{
  background-color: white;
  display: flex;
  margin: 1em 0em 6em 0em;
}

.aboutSection h2{
  font-size: 5em;
  font-family: Oswald, Arial, sans-serif;
}

.aboutItem{
  display: flex;
  align-items: center;
  padding: 0em 0em 3em;
  margin-bottom: 1em;
  max-width: 80%;
}

.impactDiv{
  border-bottom: 1px black solid;
}

.aboutItem img{
  max-width: 40%;
}

.aboutItem p{
  font-size: 1em;
  max-width: 80%;
  padding: 0.5em;
}

.aboutSectionHeading{
  padding: 1em;
  padding-left: 4em;
  padding-right: 4em;
  margin-top: 1.5em;
}

.aboutSectionHeading h3{
  font-size: 2em;
  font-family: Oswald, Arial, sans-serif;
  padding-bottom: 0.5em;
}

.youHeading{
  background-image: url('assets/you.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  text-shadow: 2px 2px #7a7380;
}

.youHeading h2{
  font-size: 5em;
  font-family: Oswald, Arial, sans-serif;
  color: white;
}

.aboutItem ul{
  max-width: 70%;
  margin: 0px;
  display: inline-block;
}

.aboutItem li{
  list-style-type: circle;
  font-size: 1em;
  font-family: 'Playfair Display', Oswald, Arial, sans-serif;
  text-align: left;
  text-indent: 10px;
  padding: 1em 0em;
}

.youItem{
  border-left: 1px black solid;
}

.reasonHeading{
  padding-left: 5em;
  padding-right: 5em;
}

.reasonTextSection{
  display: flex;
  justify-content: center;
  
}

.actionBtn{
  width: 100%;
  margin: 1em 0em 3em;
  display: flex;
  justify-content: center;
}

.actionBtn button{
  width: 15%;
  background-color: #f09d37;
  color: white;
  border: none;
  padding: 1em;
  text-align: center;
  border-radius: 25px;
}

.actionBtn a{
  height: auto;
  font-size: 2em;
  color: white;
}

.actionBtn:hover button{
  color: white;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 2px 3px 1px black;
}

.aboutFooter{
  background-color: white;
}

.aboutFooter button{
  font-size: 50px;
  border: none;
  background-color: white;
}

/* take action section */
.actionSection, .resourceSection{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.actionSection h1, .resourceSection h1{
  font-size: 5.5em;
  font-family: 'Koulen', Oswald, Arial, sans-serif; 
}

.actionSection p{
  max-width:80%;
  margin: auto;
  padding-bottom: 2em;
}

.actionSection div{
  max-width: 70%;
  border-bottom: 1px black solid;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.actionSection button{
  max-width: 35%;
  background-color: #f09d37;
  border: none;
  padding: 1em 1.5em;
  margin-bottom: 4em;
}

.actionSection a{
  color: white;
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-size: 2em;
}

.actionSection button:hover{
  background-color: #cfcfcf;
  transition: 0.3s;
  color: white;
  box-shadow: 3px 3px 2px black;
  cursor: pointer;
}

.actionMain{
  padding-bottom: 4em;
}

/* resource section */

.resourceSection{
  flex-direction: column;
}

.resourceSection div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.resourceSection p{
  max-width: 90%;
  font-size: 1em;
}

.resourceSection a{
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: #f09d37;
  text-decoration: underline;
  margin: 0.5em;
}

.resourceSection a:hover{
  color: #cfcfcf;
  transition: 0.3s;
}

.resourceTag{
  background-color: black;
  color: white;
  font-family: 'Koulen';
  padding: 0em 0.75em;
  margin: 1em;
}

.resourceSection p{
  padding: 1em 0em 2em;
}

.resourceItem{
  border-bottom: 1px black solid;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
